.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.egg-info/
.installed.cfg
*.egg
MANIFEST
/code-packager/output/
/review-caller/review_report.json
/review-caller/code_review_report.pdf
/review-caller/code_review_summary.pdf
hash_map.json
subtrees.json
/review-caller/review_report.json
/visualizer/project_flowchart.mmd
/visualizer/project_flowchart.svg
/visualizer/mermaid_config.json
.scannerwork/.sonar_lock
.gitignore
.scannerwork/report-task.txt
node_modules
/auto-remediator/modifications.json
config.json
/visualizer/logic_flowchart.mmd
/visualizer/logic_flowchart.mmd.backup
/visualizer/logic_flowchart.svg